.margin{
    margin: 10px solid black;
}

#estacionamientos{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}

#form_registro{
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}

#mapa{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}
#mapa2{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-right: 20%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f2f2f2;
}

#textoBuscar{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #f2f2f2;
}


label{ color:grey;}
input[type = "radio"]{ display:none;}
.clasificacion{
    direction: rtl;/* right to left */
    unicode-bidi: bidi-override;/* bidi de bidireccional */
}
label:hover ~ label{color:orange;}
input[type = "radio"]:checked ~ label{color:orange;}
#form {
    width: 250px;
    margin: 0 auto;
    height: 50px;
  }
  
  #form p {
    text-align: center;
  }
  
  #form label {
    font-size: 20px;
  }
  
  input[type="radio"] {
    display: none;
  }
  
  label {
    color: grey;
  }
  
  .clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
  }
  
  label:hover,
  label:hover ~ label {
    color: orange;
  }
  
  input[type="radio"]:checked ~ label {
    color: orange;
  }



